@charset "UTF-8";

* {
  font-family: 微軟正黑體;
  position: relative;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #49005C;
}

.header {
  display: block;
  height: 10%;
  width: 100%;
}

.header .logo {
  position: absolute;
  width: 120px;
  left: 20px;
  top: -5px;
  cursor: pointer;
}

.BG1 {
  position: absolute;
  width: 300px;
  top: 0px;
  right: 0px;
  opacity: 0.8;
}

.nav {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.nav a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin: 30px 75px;
  color: #fff;
  font-size: 21.6px;
  padding-bottom: 3px;
}

.nav a:hover {
  cursor: pointer;
  border-bottom: solid 2px transparent;
  -o-border-image: linear-gradient(90deg, #5FE1CF, #a90ac0);
     border-image: linear-gradient(90deg, #5FE1CF, #a90ac0);
  border-image-slice: 1;
}

.container {
  height: 85%;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px;
}

.container #foreword {
  position: absolute;
  width: 400px;
  top: 20%;
}

.container #foreword h1 {
  color: #5FE1CF;
  font-size: 48px;
  font-style: italic;
  margin-bottom: 20px;
}

.container #foreword h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}

.container .THE {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .THE #H {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.container .THE #H #T {
  display: inline-block;
  position: absolute;
  left: -350px;
}

.container .THE #H #E {
  display: inline-block;
  position: absolute;
  right: -300px;
}

.container .THE #H #X {
  display: inline-block;
  position: absolute;
}

.container .THE #H .X1 {
  left: -120px;
}

.container .THE #H .X2 {
  right: -120px;
}

.container #THE {
  position: absolute;
  bottom: -30px;
}

.HomeScreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn {
  margin: 10px;
  padding: 5px;
  width: 150px;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(90deg, #5FE1CF, #a90ac0);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title {
  position: absolute;
  margin: 10px;
  padding: 5px;
  height: 20px;
  width: 230px;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  background: linear-gradient(90deg, rgba(95, 225, 207, 0.8), rgba(169, 10, 192, 0.8));
  border-radius: 20px;
  text-align: center;
  top: 70px;
  right: 200px;
}

.title::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 250px;
  background: linear-gradient(90deg, rgba(95, 225, 207, 0.8), rgba(0, 50, 132, 0.8), rgba(169, 10, 192, 0.8));
  border-radius: 20px;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.title .title_name {
  font-style: italic;
  position: relative;
  top: -30px;
}

.titleW {
  width: 280px;
}

.section {
  width: 100%;
}

.section_title {
  height: 70px;
}

.contents_inner {
  display: block;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  top: 0px;
}

#contents_first {
  height: 95%;
}

.video-wrapper {
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px #ccc solid;
  border-radius: 5px;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper #myIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.switchBTN {
  position: absolute;
  right: 2%;
  bottom: 0;
  -webkit-animation: switchdrift 2s linear infinite;
          animation: switchdrift 2s linear infinite;
}

.switchBTN h5 {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.switchBTN svg {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 3px;
}

@-webkit-keyframes switchdrift {
  0% {
    transform: translatex(0px);
    opacity: 0.2;
  }

  75% {
    transform: translatex(5px);
    opacity: 1;
  }

  100% {
    transform: translatex(0px);
    opacity: 0.2;
  }
}

@keyframes switchdrift {
  0% {
    transform: translatex(0px);
    opacity: 0.2;
  }

  75% {
    transform: translatex(5px);
    opacity: 1;
  }

  100% {
    transform: translatex(0px);
    opacity: 0.2;
  }
}

.BG {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.subject_section {
  display: inline-block;
  height: 100%;
}

.text {
  text-align: left;
  top: 15%;
  color: #fff;
}

#arrow1 {
  bottom: 90px;
}

.member_section {
  display: inline-block;
}

.member_box {
  top: 10%;
  width: 40%;
  float: left;
  font-size: 15px;
  margin: 5% 4% 0% 4%;
}

.member_photo {
  display: inline-block;
  width: 200px;
}

.member_photo img {
  width: 100%;
  height: auto;
}

.member_intro {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  top: 30px;
  left: 20px;
  text-align: center;
}

.member_name .name {
  cursor: default;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  margin: auto;
  margin-top: 20px;
}

.member_text {
  color: #fff;
}

#arrow2 {
  bottom: 25px;
}

.contact_section {
  display: inline-block;
  margin-top: 7%;
}

.contact_box {
  width: 25%;
  top: 30%;
  float: left;
  font-size: 15px;
  margin: 3% 4%;
  line-height: 100px;
}

.contact_box h3 {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  left: 20px;
}

.contact_icon {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.contact_icon img {
  width: 100%;
  opacity: 0.7;
  height: auto;
}

.animate {
  transition-duration: 2s;
}

.arrow {
  left: 50%;
  transform: translateX(-50%);
  fill: #fff;
  -webkit-animation: arrowdrift 3s linear infinite;
          animation: arrowdrift 3s linear infinite;
}

@-webkit-keyframes arrowdrift {
  0% {
    transform: translateY(0px);
    opacity: 0.1;
  }

  50% {
    transform: translateY(5px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0.1;
  }
}

@keyframes arrowdrift {
  0% {
    transform: translateY(0px);
    opacity: 0.1;
  }

  50% {
    transform: translateY(5px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0.1;
  }
}

.inner_title {
  top: 50px;
  left: 10%;
  font-size: 48px;
  color: #5FE1CF;
}

.little_title {
  top: 30px;
  left: 10%;
  font-size: 36px;
  color: #5FE1CF;
}

.issue_1 img {
  display: inline-block;
  top: 120px;
  width: 500px;
}

.issue_1 .text_1 {
  display: inline-block;
  top: 50px;
  left: 5%;
  width: 40%;
}

.issue_1 .text_2 {
  top: 100px;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

.issue_1 .text_3 {
  top: 100px;
  width: 105%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

.issue_1 #t1 {
  top: 150px;
}

.issue_1 #t2 {
  top: 100px;
}

.issue_1 #t3 {
  top: 100px;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.issue_1 #t4 {
  top: 100px;
  font-size: 33.6px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.issue_1 #c1 {
  top: 150px;
}

.issue_1 #c2 {
  width: 90%;
}

.issue_1 #c3 {
  width: 100%;
  top: 150px;
}

.issue_1 #c4 {
  font-size: 18px;
}

.issue_1 #c5 {
  top: 150px;
}

#arrow_issue_1 {
  bottom: -100px;
}

#arrow_issue_2 {
  bottom: -175px;
}

#arrow_issue_3 {
  bottom: -110px;
}

#arrow_issue_4 {
  bottom: -140px;
}

#arrow_issue_5 {
  bottom: -63px;
}

#arrow_issue_6 {
  bottom: -200px;
}

.contents_inner .mid_img {
  position: absolute;
  opacity: 0.2;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.class1_1 img {
  width: 800px;
}

.class1_2 img {
  width: 350px;
}

.class2 img {
  top: 20%;
  width: 900px;
}

.class5 img {
  width: 90%;
}

